<div class="box-header-partial">
  <span class="user-identify"><%= current_user_identify %></span>
  <h3 class="box-title">Project Live Calendar</h3>
</div>

<style>
.box-header-partial {
  position: relative
}

.user-identify {
  display: inline-block;
  float: left;
  position: absolute;
  left: 0px;
  bottom: -19px;
}
</style>
