<div class="form-group time-selector">
  <input type="hidden" id="userID" name="userID" value=<%= @current_user.id %>>
  <select class="form-control" id="calendarTimeSelect" data-live-search="true">
    <% @can_selected_day.each do |t| %>
      <option><%= t %></option>
    <% end %>
  </select>
</div>

<script>
  $('#calendarTimeSelect').selectpicker();

  function getArrangements(day) {
    $.ajax({
      url: 'calendars/' + day,
      method: 'get',
      type: 'json',
      success: function(data) {
        $('#calendarTimeSelect').val(day);
      },
      err: function() {
        alert('some error occurred');
      }
    });
  }

  $('#calendarTimeSelect').change(function() {
    getArrangements($(this).val());
  })

  var intervalNumber
  if (intervalNumber) {
    console.log("intervalNumber", intervalNumber);
    clearInterval(intervalNumber);
  }

  intervalNumber = setInterval(IntervalFun, 5000);

  function IntervalFun() {
    userID = $('#userID').val()
    $.ajax({
      url: 'calendars/need_refresh/' + userID,
      method: 'get',
      type: 'json',
      success: function(data) {
        console.log("succeed", data)

        if (data.succeed) {
          console.log("need refresh", data)
          day = $('#calendarTimeSelect').val();
          getArrangements(day)
        } else {
          console.log("need not refresh", data)
          console.log(data)
        }
      },
      err: function() {
        alert('some error occurred');
      }
    });
  }
</script>