<div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <%= render "box_header" %>
      </div>
      <div class="box-body">
        <div class="calendar-table" id="calendar-table">
          <%= render "calendar_table" %>
        <div>
      </div>
    </div>
</div>

<style>
.box-header{
    margin-top:  50px;
    margin-bottom: 20px;
    text-align: center;
}

.box-body {
  text-align: center;
}
</style>